.empty {
    height: 100vh;
    text-align: center;
    padding-top: 200px;
}
.empty h1 {
    margin-bottom: 30px;
}
.carts .container .content th {
    color: var(--clr-grey-6);
    font-weight: 400;
    padding-bottom: 30px;
}
.carts .items {
    margin-bottom: 200px;
    width: 100%;
    text-align: center;
    box-shadow: var(--dark-shadow);
}
.carts .container .cartItem {
    padding: 30px 0px;
    border-bottom: 1px solid;
}
.cartItem .text {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.cartItem img {
    width: 100px;
    height: 70px;
}
.cartItem .btn-delete {
    border: none;
    cursor: pointer;
}
.cartItem .btn-delete svg {
    color: var(--clr-red-dark);
}
.btn {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.btn .btn-clear {
    background: var(--clr-black);
    border: navajowhite;
    padding: 7px 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.order-total {
    width: 275px;
    font-family: cursive;
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    border: 1px solid;
    padding: 25px;
    margin-bottom: 100px;
}
.order-total h3:last-child {
    color: var(--clr-red-dark);
}