h1.col{
    background-color: var(--clr-primary-10);
    color: var(--clr-primary-1);
    padding: 30px 70px;
    border-bottom: 3px solid;
    margin-bottom: 100px;
}
.about .story {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 100px;
}
img {
    width: 100%;
}
.text h2 {
    font-family: cursive;
    font-weight: normal;
    border-bottom: 1px solid;
    padding: 10px 0px;
}
.text p {
    line-height: 2;
    color: var(--clr-primary-4);
}